// 其它颜色：只用颜色变量的话可以只写这(eg. var(--c-gray-100))
.other {
    --c-gray-100:#D5DAE6;
    --c-gray-200:#B5B5B5;
    --c-gray-300:rgba(255, 255, 255, 0.60);
    --c-gray-400:#9F9F9F;
    --c-gray-500:rgba(255, 255, 255, 0.10);
    --c-gray-600:#363649;
    --c-gray-700:#303030;
    --c-gray-800:#1F1F33;
    --c-gray-900:#11112A;

    --c-scrollbar: rgba(255, 255, 255, 0.1);

    --c-text-common: #fff;
    --c-text-tip: var(--c-gray-300);

    --c-hr-1: #333;

    --c-pager-btn-bg: var(--c-gray-800);
    --c-popover-bg: var(--c-gray-800);

    --c-row-active: rgba(255, 255, 255, 0.10);
}

// 主题色
.base {
    --c-primary: #15D4F1;
    --c-second: #0080FA;

    --c-primary-500: #00AEEF;
    --c-second-500: #0073D9;

    --c-error: #ff3700;
    --c-warning: #f2b51b;
}

@layer base {
    /* 暗主题 */
    .theme-dark {
        @extend .base;
        @extend .other;
    }
}