@import './common.scss';

* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}



/* 响应式 */ 
$minFontSize: 12px;
$maxFontSize: 20px;
$minScreen: 430px;
$maxScreen: 1536px;

html {
    font-size: clamp($minFontSize, calc(7px + (($maxFontSize - $minFontSize) / ($maxScreen - $minScreen) * 100vw)), $maxFontSize);
}



/* 滚动条 */
::-webkit-scrollbar {
    width:6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:var(--c-scrollbar);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}